// loacl-light.scss
.btn-full-screen {
    .ic-outline-grid-fullscreen {
        background-image: url('~/assets/images/theme/light/screen/ic-outline-grid-fullscreen.svg');
    }
    &.active {
        .ic-outline-grid-fullscreen {
            background-image: url('~/assets/images/theme/light/screen/ic-outline-grid-fullscreen-exit.svg');
        }
    }
    &:hover {
        background: var(--plds-glob-Alpha_White-90);
        .tooltip-label {
            background: #fff;
            color: rgba(0, 0, 0, 0.8);
        }
    }
}


// local-dark.scss
.btn-full-screen {
    .ic-outline-grid-fullscreen {
        background-image: url('~/assets/images/screen/ic-outline-grid-fullscreen.svg');
    }
    &.active {
        .ic-outline-grid-fullscreen {
            background-image: url('~/assets/images/screen/ic-outline-grid-fullscreen-exit.svg');
        }
    }
    &:hover {
        background: #000;
    }
}